
.main{
    border: 2px solid rgb(52, 50, 50);
}

.form-main-block{
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
}

.second-box{
    align-items: center;
    align-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.third-box{
    align-items: center;
    align-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.second{
    text-align: center;
}

.row-box{
    border: 2px solid rgb(188, 185, 185);
    background: fixed;
    width: 100%;
    height: 100px;
}

.name-color{
    color: red;
}

.cancle-button{
    background-color: rgb(246, 85, 85);
}

.add-button,.save-button {
    background-color: rgb(131, 249, 131);
}

.box-text{
    text-align: center;
}